# Ignore everything
*

# Allow files and directories
!/ai
!/components
!/composables
!/contrib
!/docker
!/layouts
!/middleware
!/pages
!/public
!/server
!/stores
!/app.config.ts
!/nuxt.config.ts
!/package.json
!/pnpm-lock.yaml
!/.npmrc
!/tsconfig.json
!/requirements.txt
!/Procfile

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db